@import '../../styles/variables.scss';

.nav-teams-link  {
    text-decoration: none;
    color: $secondary-color;
    background-color: $main-color;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid $main-color;
}

.nav-teams-link:hover{
    font-weight: bold;
    color: $secondary-color;
}

.nav-teams-link:active{
    color: $secondary-color;
}

.nav-teams-link:focus{
    color: $secondary-color;
}

img {
    height: 100%;
    margin: 0 10px;
}